preprocess/raw19/
preprocess/raw_cut0802/
preprocess/data/
preprocess/embeddings/
preprocess/ripe_word2vec_7w/
preprocess/ripe_char_word2vec_pos_cws_flag/
polyphonesdis.egg-info/
*/__pycache__/
*/*/__pycache__/
outputs/
outputs_new/
preprocess/ripe_word2vec_7w/
preprocess/ripe_word2vec_7w
outputs_decay0.5/
outputs_charw2cpos/
